@{
    ViewData["Title"] = "Home Page";
}
@model EmployeeReplacementManager.Models.EmployeeRespond


<div style="margin-left:40%;margin-top:10%" >
    <form method="post">
        <div asp-validation-summary="All"></div>
        <h3>Форма для составления отпускного письма</h3>
        <label asp-for="EmployeeName">Имя:</label><br />
        <input asp-for="EmployeeName" /><br /><br />
        <label asp-for="VacationStartDate">Дата начала отпуска:</label><br />
        <input asp-for="VacationStartDate" /><br /><br />
        <label asp-for="VacationEndDate">Дата конца отпуска:</label><br />
        <input asp-for="VacationEndDate">
        <input type="submit" value="Сгенерировать письмо" />
    </form>
</div>
